$color-combo-1 : #000080;
$color-combo-2 : #fff;
$color-combo-3 : #000;
$color-combo-4 : #C0C0C0;
$color-red : #f00;

html{
    background-color: $color-combo-3;
}

html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}