@import "variable.scss";

$header-color : red;
$header-height: 50px;

header {
    width: 100%;
    height: $header-height;
    background-color: $header-color;
}

header ul {
    list-style: none;
    line-height: $header-height;
    li{
        display: inline-block;
    }
    a{
        text-decoration: none;
        color: $color-combo-2;
        line-height: $header-height;
        display: inline-block;
        &:hover{
            background-color: $color-combo-1    ;
        }
    }
}